

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  background-color: #9deba9; 
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


.navMenu {
  position:absolute;
  top: 8%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #000000;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  user-select: none;
  padding: 7px;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.below-header {
    font-size: 1em;
    background-color: white;
    top: 20%;
    position: absolute;
    height: 500%;
    width: 80%;
    padding-left:7%;
    padding-right: 7%;
    padding-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow:1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);

}

.image {
  height: 300px;
  margin-left: 15%;
}

.heading {
    margin-top: 6%;
    margin-left: 10%;
    position: absolute;
    display: block;
    font-size: 1.8em;
    user-select: none;
    font-weight: bold;

}


@media screen and (max-width: 600px) {

  .navMenu {
      top: 8%;
      left: 5%;
      -webkit-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
  }

  .navMenu a {
      padding: 15px;
      font-size: 0.8em;
      margin-left: 0%;
      font-weight: bold;

  }

  .below-header {
    font-size: 0.9em;
    position: absolute;
    width: 100%;
    height: 570%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 4%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .heading {
    margin-top: 3%;
    margin-left: 7.5%;
    position: absolute;
    font-size: 1.2em;
    font-weight: bold;
  }

  .image {
    height: 250px;
    margin-left: 0%;
  }
}

@media screen and (max-width: 400px) {

  .navMenu a {
      padding: 5px;
      font-size: 0.6em;
      margin-left: 0%;
      font-weight: bold;
  }

  .image {
    height: 100px;
    margin-left: 5%;
  }
  .below-header {
    font-size: 0.9em;
    position: absolute;
    width: 100%;
    height: 590%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 4%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .heading {
    margin-top: 4%;
    margin-left: 6.5%;
    position: absolute;
    font-size: 1.2em;
    font-weight: bold;
  }

}